body {
    box-sizing: border-box;
}

a {
    color: black;
}

a:hover {
    color: black;
    text-decoration: underline;
}

main {
    padding: 20px;
}

#footer {
    display: flex;
    justify-content: flex-end;
    font-size: 10px;
    height: fit-content;
}

.card-footer {
    padding: .5rem .8rem;
    color: rgb(255, 255, 255) !important;
}

.container {
    margin-top: 50px;
}


.description-label {
    margin-bottom: 0px;
}

.description-text {
    margin-left: 10px; 
    font-style: italic;
}

.detail-page-card {
    margin: 15px;
}

#index-card {
    width: 30%;
}






@media (min-width: 1200px) {
    .container {
        width: 90vw;
    }
    
}

    
@media (max-width: 768px){
    .index-card {
        width: 100%;
    }
}

    
 