{% extends 'base.html' %}

{% block content %}

<h1>Finch Details</h1>

<div class="card detail-page-card">
    <div class="card-body">
        <h5 class="card-title">{{ finch.name }}</h5>
        <p class="card-text">Breed: {{ finch.breed }}</p>
        <div>
            <p class="card-text description-label">Description: </p>
            <p class="description-text">{{ finch.description }}</p>
        </div>
        {% if finch.age > 0 %}
        <p class="card-text">Age: {{ finch.age }}</p>
        {% else %}
        <p class="card-text">Age: Chick</p>
        {% endif %}
        <div class="card-action">
            <a class="btn btn-sm btn-dark" href="{% url 'finches_update' finch.id %}">Edit</a>
            <a class="btn btn-sm btn-dark" href="{% url 'finches_delete' finch.id %}">Delete</a>
        </div>
    </div>
</div>

{% endblock %}