{% extends 'base.html' %}

{% block content %}

<h1>Finch List</h1>
<p><em>Click on a finch to view more details!</em></p>

<div class="container">
    <div class="row justify-content-between align-items-start">
        {% for finch in finches %}
        <div class="card mb-3 index-card">
            <a href="{% url 'detail' finch.id %}">
                <div class="card-body">
                    <h5 class="card-title">{{ finch.name }}</h5>
                    <p class="card-text">Breed: {{ finch.breed }}</p>
                    <p class="card-text">Description: {{ finch.description }}</p>
                    {% if finch.age > 0 %}
                    <p class="card-text">Age: {{ finch.age }}</p>
                    {% else %}
                    <p class="card-text">Age: Chick</p>
                    {% endif %}
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}